{% extends 'base.html' %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Create your recipes here</title>
{% endblock %}

<!-- Add a recipe-form -->
{% block content %}
{% if user.is_authenticated %}
    <div class="container card-body">
        <h4 class="text-center">Create your recipes here</h4>
        <hr>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    {{ recipes_form | crispy }}
                </div>
                <br>
                <input type="submit" value="submit" class="btn btn-signup">
            </form>
   </div>

{% endif %}
{% endblock %}