{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid px-4 px-lg-5">
        <h1 class="mb-4 mt-3 text-center">
            Home
        </h1>
        <hr>
    </div>
</section>

<div id="hero-image" class="container-fluid hero-container">
    <div class="col-12" id="hero-text-container">
        <div class="text-center text-black header-text">
             {% if user.is_authenticated %}
             <p>Your first destination for peer book reviews. Click the button below to browse existing reviews, or submit your own.</p>
             {% else %}
             <p>Your first destination for peer book reviews. Click the button below to browse existing reviews, or register an account to start submitting your own.</p>
             {% endif %}           
             <div class="row text-on-top">
                 <!--Add a review-->
                 {% if user.is_authenticated %}
                 <div class="btn d-inline-block main-btn">
                     <a class="btn btn-lg" id="add-review-button" href="{% url 'add_recipes' %}" class="recipes-link">
                     Add recipes here +</a>
                 </div>
                 {% endif %} 
             </div>
         </div>    
    </div>    
 </div>
{% endblock content %}