{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid px-4 px-lg-5">
        <h1 class="mb-4 mt-3 text-center">
            Home
        </h1>
        <hr>
    </div>
</section>
<div id="hero-image" class="img-fluid">
    <div class="col-12" id="hero-text-container">
        <div id="add-recipes" class="container-fluid hero-container">
            <div class="col-12" id="hero-text-container">
                <div class="text-center text-white header-text">
                    <h1 class="text-center page-title">Welcome to NonAlco4me</h1>
               </div>
                <div id="add-recipes-text" class="p-3 text-center text-white header-text">
                     {% if user.is_authenticated %}
                     <p>
                        Here you can look for a non-alcoholic drink that strives for your needs. Or add a recipe yourself by pressing the button below.</p>
                     {% else %}
                     <p>
                        Here you can look for a non-alcoholic drink that strives for your needs. Or add a recipe yourself by <a class="sign-not-loggedin" href="{% url 'account_signup' %}">Signup</a> on the site or <a class="sign-not-loggedin" href="{% url 'account_login' %}">log in</a>.</p>
                     {% endif %}           
                     <div class="row text-on-top">
                         <!--Add a recipes-->
                         {% if user.is_authenticated %}
                         <div class="btn d-inline-block main-btn">
                             <a class="btn btn-lg" id="add-review-button" href="{% url 'add_recipes' %}" class="recipes-link">
                             Add recipes here +</a>
                         </div>
                         {% endif %} 
                     </div>
                 </div>    
            </div>    
         </div>
    </div>
</div>
<div id="about-text" class="container-fluid hero-container text-center">
    <hr>
    <h3 class="col-12">About us</h3>
    <hr>
    <p>
        Do you feel like you want to cool off with a good non-alcoholic drink but a regular soft drink is not something you prefer today. <br>
        Then you will find a drink that meets your needs on this page.
    <br>
    There are lots of different flavors and combinations. Maybe you fancy something fruity and sweet or why not a good lemon and tonic. <br>
    In addition to the drinks being delicious, they also look very good. <br> 
    Those who see your drink will definitely want one too. </p>
</div>

{% endblock content %}