
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section>
    <div class="container-fluid px-4 px-lg-5">
        <h2 class="mb-4 mt-3 text-center top-text">
            Recipes
        </h2>
        <hr>
    </div>
</section>

<div class="container-fluid">
    <div class="row">

        <!-- Recipes Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipes in recipes_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in recipes.featured_image.url %}
                                <img id="card-img" class="card-img-top"
                                    src="https://res.cloudinary.com/dbygidw1x/image/upload/v1691410422/static/images/pexels-taryn-elliott-4457151_copy1.a76955cb4e72.jpg" alt="a drink with lime and mint. Stands on a wooden tray">
                                {% else %}
                                <img class="card-img-top" src=" {{ recipes.featured_image.url }}" alt="recipe picture of a drink that the user has chosen himself">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Creator: {{ recipes.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipes-detail' recipes.slug %}" class="recipes-link">
                                <h4 class="card-title">{{ recipes.title }}</h4>
                                <p class="card-text">{{ recipes.creator }}</p>
                            </a>
                            <hr>
                            <p class="card-text text-muted h6"><i class="far fa-heart"></i>
                                {{ recipes.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

{% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock content %}